@import url("https://fonts.googleapis.com/css?family=Cairo:400,700&subset=arabic,latin-ext");
html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Cairo", sans-serif;
  color: #424242;
}

header {
  background-color: #FCFCFC;
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  height: 120px;
  z-index: 3;
}

header:after {
  content: " ";
  position: absolute;
  bottom: 0px;
  right: 78px;
  left: 78px;
  border-bottom: 2px solid #F5F4F4;
  z-index: 3;
}

footer {
  background-color: #FCFCFC;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 80px;
  text-align: center;
  z-index: 3;
}

footer:after {
  content: " ";
  position: absolute;
  top: 0px;
  right: 78px;
  left: 78px;
  border-bottom: 2px solid #F5F4F4;
  z-index: 3;
}

nav {
  background-color: #FCFCFC;
  position: fixed;
  right: 0;
  top: 120px;
  bottom: 80px;
  width: 80px;
  text-align: center;
  z-index: 2;
}

nav:after {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 78px;
  left: 0;
  background-color: #F5F4F4;
  z-index: 3;
}

aside {
  background-color: #FCFCFC;
  position: fixed;
  left: 0;
  top: 120px;
  bottom: 80px;
  padding: 80px 0;
  width: 80px;
  text-align: center;
  z-index: 2;
}

aside:after {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 78px;
  background-color: #F5F4F4;
  z-index: 3;
}

article {
  background-color: #FFFFFF;
  height: 2000px;
  text-align: center;
  padding: 120px 80px 80px;
  z-index: 1;
}
article p {
  padding: 0 40px;
}

.website-logo {
  width: 54px;
}

.website-title {
  font-size: 22px;
  display: inline-block;
  position: absolute;
  padding: 4px 8px;
}

.website-navigation {
  font-size: 20px;
  display: inline-block;
  float: right;
  padding: 4px 8px;
}
.website-navigation a {
  text-decoration: none;
  color: #424242;
}
.website-navigation a:active {
  color: #2BA7DF;
  border-bottom: 3px solid #2BA7DF;
}
.website-navigation .item {
  padding: 0 12px;
}
.website-navigation .item:hover {
  color: #2BA7DF;
  border-bottom: 3px solid #2BA7DF;
}

.blue {
  color: #2BA7DF;
}

.bold {
  font-weight: 700;
}

.website-header {
  padding: 38px 84px;
}
