// _base.scss
// ==============

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: $website-font;
  color: $default;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: $content-background;
}

::-webkit-scrollbar-thumb {
    background: $primary;
}

::-webkit-scrollbar-thumb:hover {
    background: $default;
}

::-moz-selection { /* Code for Firefox */
    color: $primary;
    background: $main-background;
}

::selection {
    color: $primary;
    background: $main-background;
}
