// _main.scss
// ==============

header{
  background-color: $main-background;
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  height: 120px;
  z-index: 3;
}

header:after {
    content: " ";
	position: absolute;
	bottom: 0px;
	right: 78px;
	left: 78px;
	border-bottom: 2px solid $main-border;
	z-index: 3;
}

footer{
  background-color: $main-background;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 80px;
  z-index: 3;
}

footer:after {
    content: " ";
	position: absolute;
	top: 0px;
	right: 78px;
	left: 78px;
	border-bottom: 2px solid $main-border;
	z-index: 3;
}

nav{
  background-color: $main-background;
  position: fixed;
  right: 0;
  top: 120px;
  bottom: 80px;
  padding: 120px 0;
  width: 80px;
  text-align: center;
  z-index: 2;
}

nav:after {
    content: " ";
	position: absolute;
	top: 0;
  bottom: 0;
	right: 78px;
	left: 0;
  background-color: $main-border;
	z-index: 3;
}

aside{
  background-color: $main-background;
  position: fixed;
  left: 0;
  top: 120px;
  bottom: 80px;
  padding: 120px 0;
  width: 80px;
  text-align: center;
  z-index: 2;
}

aside:after {
    content: " ";
	position: absolute;
	top: 0;
  bottom: 0;
	right: 0;
	left: 78px;
  background-color: $main-border;
	z-index: 3;
}

article{
  background-color: $content-background;
  height: 2000px;
  text-align: center;
  padding: 120px 80px 80px;
  z-index: 1;
  p{
    padding: 0 40px;
  }
}

.website-logo{
  width: 54px;
}

.website-title{
  font-size: 22px;
  display: inline-block;
  position: absolute;
  padding: 4px 8px;
}

.header-navigation{
  font-size: 20px;
  display: inline-block;
  float: right;
  padding: 4px 8px;

  a {
    text-decoration: none;
    color: $default;
    // &:active{
    //   color: $primary;
    //   border-bottom: 3px solid $primary;
    // }
  }

  .item{
    padding: 0 12px;
    &:hover{
      color: $primary;
      // border-bottom: 3px solid $primary;
    }
    &:active{
      color: $default;
      // border-bottom: 3px solid $primary;
    }
  }

}

.primary{
  color: $primary;
}

.secondary{
  color: $secondary;
}

.default{
  color: $default;
}

.default-lighter{
  color: $default-lighter;
}

.bold{
  font-weight: 700;
}

.website-header{
  padding: 38px 84px;
}

.website-footer{
  padding: 20px 88px;
}

.website-copyright{
  font-size: 16px;
  display: inline-block;
  position: absolute;
  padding: 4px 8px;
}

.footer-navigation{
  font-size: 16px;
  display: inline-block;
  float: right;
  padding: 4px 8px;

  a {
    text-decoration: none;
    color: $default;
    // &:active{
    //   color: $primary;
    //   border-bottom: 3px solid $primary;
    // }
  }

  .item{
    padding: 0 12px;
    &:hover{
      color: $primary;
      // border-bottom: 3px solid $primary;
    }
    &:active{
      color: $default;
      // border-bottom: 3px solid $primary;
    }
  }

}

.nav-navigation{
  font-size: 20px;
  display:inline-block;
  padding: 4px 8px;

  a {
    text-decoration: none;
    color: $default;
    // &:active{
    //   color: $primary;
    // }
  }

  .item{
    padding: 0 12px;
    width: 60px;
    fill: $default;
    &:hover{
      fill: $primary;
    }
    &:active{
      fill: $default;
    }
  }

}

.aside-navigation{
  font-size: 20px;
  display:inline-block;
  padding: 4px 8px;

  a {
    text-decoration: none;
    color: $default;
    // &:active{
    //   color: $primary;
    // }
  }

  .item{
    padding: 0 12px;
    width: 40px;
    fill: $default;
    &:hover{
      fill: $primary;
    }
    &:active{
      fill: $default;
    }
  }

}
