// _main.scss
// ==============

header{
  background-color: $gris;
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  height: 120px;
  z-index: 3;
}

header:after {
    content: " ";
	position: absolute;
	bottom: 0px;
	right: 78px;
	left: 78px;
	border-bottom: 2px solid $light-gris;
	z-index: 3;
}

footer{
  background-color: $gris;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 80px;
  text-align: center;
  z-index: 3;
}

footer:after {
    content: " ";
	position: absolute;
	top: 0px;
	right: 78px;
	left: 78px;
	border-bottom: 2px solid $light-gris;
	z-index: 3;
}

nav{
  background-color: $gris;
  position: fixed;
  right: 0;
  top: 120px;
  bottom: 80px;
  width: 80px;
  text-align: center;
  z-index: 2;
}

nav:after {
    content: " ";
	position: absolute;
	top: 0;
  bottom: 0;
	right: 78px;
	left: 0;
  background-color: $light-gris;
	z-index: 3;
}

aside{
  background-color: $gris;
  position: fixed;
  left: 0;
  top: 120px;
  bottom: 80px;
  padding: 80px 0;
  width: 80px;
  text-align: center;
  z-index: 2;
}

aside:after {
    content: " ";
	position: absolute;
	top: 0;
  bottom: 0;
	right: 0;
	left: 78px;
  background-color: $light-gris;
	z-index: 3;
}

article{
  background-color: $white;
  height: 2000px;
  text-align: center;
  padding: 120px 80px 80px;
  z-index: 1;
  p{
    padding: 0 40px;
  }
}

.website-logo{
  width: 54px;
}

.website-title{
  font-size: 22px;
  display: inline-block;
  position: absolute;
  padding: 4px 8px;
}

.website-navigation{
  font-size: 20px;
  display: inline-block;
  float: right;
  padding: 4px 8px;

  a {
    text-decoration: none;
    color: $black;
    &:active{
      color: $blue;
      border-bottom: 3px solid $blue;
    }
  }

  .item{
    padding: 0 12px;
    &:hover{
      color: $blue;
      border-bottom: 3px solid $blue;
    }
  }

}

.blue{
  color: $blue;
}

.bold{
  font-weight: 700;
}

.website-header{
  padding: 38px 84px;
}
