// _variables.scss
// ==============

@import url('https://fonts.googleapis.com/css?family=Cairo:400,700&subset=arabic,latin-ext');

$gris:#FCFCFC;
$light-gris:#F5F4F4;
$white:#FFFFFF;
$blue:#2BA7DF;
$black:#424242;

$website-font:'Cairo', sans-serif;
