// _variables.scss
// ==============

@import url('https://fonts.googleapis.com/css?family=Cairo:400,700&subset=arabic,latin-ext');

$primary:#2ba7df; //blue
$secondary:#df2b6d; //red
$default:#424242; //black
$default-lighter:#8f8c8c; //gris

$main-background:#fcfcfc;
$main-border:#f5f4f4;

$content-background:#ffffff;

$website-font:'Cairo', sans-serif;
