@import url("https://fonts.googleapis.com/css?family=Cairo:400,700&subset=arabic,latin-ext");
html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Cairo", sans-serif;
  color: #424242;
}

.primary {
  color: #2ba7df;
}

.secondary {
  color: #df2b6d;
}

.default {
  color: #424242;
}

.default-lighter {
  color: #8f8c8c;
}

.bold {
  font-weight: 700;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #2ba7df;
}

::-webkit-scrollbar-thumb:hover {
  background: #424242;
}

::-moz-selection {
  /* Code for Firefox */
  color: #2ba7df;
  background: #fcfcfc;
}

::selection {
  color: #2ba7df;
  background: #fcfcfc;
}

.main-header {
  background-color: #fcfcfc;
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  height: 120px;
  z-index: 3;
}
@media (min-width: 0) and (max-width: 319px) {
  .main-header {
    display: none;
  }
}
@media (min-width: 320px) {
  .main-header {
    height: 60px;
  }
}
@media (min-width: 1100px) {
  .main-header {
    height: 80px;
  }
}
@media (min-width: 1600px) {
  .main-header {
    height: 120px;
  }
}
@media (min-width: 720px) {
  .main-header .visible-xs {
    display: none;
  }
}
@media (min-width: 0) and (max-width: 720px) {
  .main-header .hidden-xs {
    display: none;
  }
}

.main-header:after {
  content: " ";
  position: absolute;
  bottom: 0px;
  right: 78px;
  left: 78px;
  border-bottom: 2px solid #f5f4f4;
  z-index: 3;
}
@media (min-width: 320px) and (max-width: 1099px) {
  .main-header:after {
    right: 0;
    left: 0;
  }
}

.header-container {
  padding: 38px 84px;
}
@media (min-width: 320px) {
  .header-container {
    padding: 10px 24px;
  }
}
@media (min-width: 1100px) {
  .header-container {
    padding: 18px 84px;
  }
}
@media (min-width: 1600px) {
  .header-container {
    padding: 38px 84px;
  }
}
.header-container a {
  text-decoration: none;
  color: #424242;
}

.header-logo {
  width: 54px;
}
@media (min-width: 320px) {
  .header-logo {
    width: 40px;
  }
}
@media (min-width: 1100px) {
  .header-logo {
    width: 48px;
  }
}
@media (min-width: 1600px) {
  .header-logo {
    width: 54px;
  }
}

.header-title {
  font-size: 22px;
  display: inline-block;
  position: absolute;
  padding: 4px 8px;
}
@media (min-width: 320px) {
  .header-title {
    font-size: 18px;
    padding: 2px 8px;
  }
}
@media (min-width: 1100px) {
  .header-title {
    font-size: 20px;
    padding: 6px 8px;
  }
}
@media (min-width: 1600px) {
  .header-title {
    font-size: 22px;
    padding: 4px 8px;
  }
}

.header-menu {
  font-size: 20px;
  display: inline-block;
  float: right;
  padding: 4px 8px;
}
@media (min-width: 320px) and (max-width: 719px) {
  .header-menu {
    font-size: 16px;
    padding: 4px 8px;
    display: inline-grid;
    background-color: #f5f4f4;
    border-radius: 20px;
    text-align: center;
    height: 40px;
    overflow: hidden;
    -webkit-transition: height 0.2s ease 0s;
    /* For Safari 3.1 to 6.0 */
    transition: height 0.2s ease 0s;
    z-index: 4;
  }
  .header-menu:hover {
    height: 300px;
    z-index: 4;
  }
}
@media (min-width: 720px) {
  .header-menu {
    font-size: 16px;
    padding: 4px 8px;
    display: inline-block;
  }
}
@media (min-width: 1100px) {
  .header-menu {
    font-size: 18px;
    padding: 10px 8px;
    display: inline-block;
  }
}
@media (min-width: 1600px) {
  .header-menu {
    font-size: 20px;
    padding: 4px 8px;
    display: inline-block;
  }
}
.header-menu a {
  text-decoration: none;
  color: #424242;
}
.header-menu .item {
  padding: 0 12px;
}
@media (min-width: 320px) {
  .header-menu .item {
    padding: 0 6px;
  }
}
.header-menu .item:hover {
  color: #2ba7df;
}
.header-menu .item:active {
  color: #424242;
}

.collapse {
  padding-bottom: 18px;
}

.main-subheader {
  background-color: #f8f8ff;
  position: fixed;
  right: 0;
  top: 60px;
  left: 0;
  height: 120px;
  z-index: 2;
  text-align: center;
}
@media (min-width: 0) and (max-width: 319px) {
  .main-subheader {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 1099px) {
  .main-subheader {
    height: 60px;
  }
}
@media (min-width: 1100px) {
  .main-subheader {
    display: none;
  }
}
@media (min-width: 720px) {
  .main-subheader .visible-xs {
    display: none;
  }
}
@media (min-width: 0) and (max-width: 720px) {
  .main-subheader .hidden-xs {
    display: none;
  }
}

.main-subheader:after {
  content: " ";
  position: absolute;
  bottom: 0px;
  right: 78px;
  left: 78px;
  border-bottom: 2px solid #f5f4f4;
  z-index: 3;
}

.subheader-container {
  padding: 38px 84px;
}
.subheader-container a {
  text-decoration: none;
  color: #424242;
}

.subheader-menu {
  font-size: 20px;
  display: inline-flex;
  padding: 8px 8px;
  position: absolute;
  left: 50%;
  top: 4%;
  transform: translateX(-50%);
}
.subheader-menu a {
  text-decoration: none;
  color: #424242;
}
.subheader-menu .item {
  padding: 0 4px;
  width: 46px;
  fill: #424242;
}
.subheader-menu .item:hover {
  fill: #2ba7df;
}
.subheader-menu .item:active {
  fill: #424242;
}

.main-navigation {
  background-color: #fcfcfc;
  position: fixed;
  right: 0;
  top: 120px;
  bottom: 80px;
  padding: 80px 0;
  width: 80px;
  text-align: center;
  z-index: 2;
}
@media (min-width: 0) and (max-width: 319px) {
  .main-navigation {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 1099px) {
  .main-navigation {
    display: none;
  }
}
@media (min-width: 1100px) {
  .main-navigation {
    top: 80px;
  }
}

.main-navigation:after {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 78px;
  left: 0;
  background-color: #f5f4f4;
  z-index: 3;
}

.navigation-menu {
  font-size: 20px;
  display: inline-block;
  padding: 4px 8px;
  position: absolute;
  top: 50%;
  right: 4%;
  transform: translateY(-50%);
}
.navigation-menu a {
  text-decoration: none;
  color: #424242;
}
.navigation-menu .item {
  padding: 0 12px;
  width: 60px;
  fill: #424242;
}
.navigation-menu .item:hover {
  fill: #2ba7df;
}
.navigation-menu .item:active {
  fill: #424242;
}

.main-container {
  background-color: #ffffff;
  height: 2000px;
  text-align: center;
  padding: 120px 80px 80px;
  z-index: 1;
}
@media (min-width: 0) and (max-width: 319px) {
  .main-container {
    display: none;
  }
}
@media (min-width: 320px) {
  .main-container {
    padding: 48px 12px 12px;
    height: auto;
  }
}
@media (min-width: 1100px) {
  .main-container {
    padding: 28px 80px 28px;
    height: auto;
  }
}
@media (min-width: 1600px) {
  .main-container {
    padding: 120px 80px 120px;
    height: auto;
  }
}
.main-container p {
  padding: 0 40px;
}

.main-social {
  background-color: #fcfcfc;
  position: fixed;
  left: 0;
  top: 120px;
  bottom: 80px;
  padding: 80px 0;
  width: 80px;
  text-align: center;
  z-index: 2;
}
@media (min-width: 0) and (max-width: 319px) {
  .main-social {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 1099px) {
  .main-social {
    display: none;
  }
}
@media (min-width: 1100px) {
  .main-social {
    top: 80px;
  }
}

.main-social:after {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 78px;
  background-color: #f5f4f4;
  z-index: 3;
}

.social-menu {
  font-size: 20px;
  display: inline-block;
  padding: 4px 8px;
  position: absolute;
  top: 50%;
  right: 14%;
  transform: translateY(-50%);
}
.social-menu a {
  text-decoration: none;
  color: #424242;
}
.social-menu .item {
  padding: 0 12px;
  width: 40px;
  fill: #424242;
}
.social-menu .item:hover {
  fill: #2ba7df;
}
.social-menu .item:active {
  fill: #424242;
}

.main-footer {
  background-color: #fcfcfc;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 80px;
  z-index: 3;
}
@media (min-width: 0) and (max-width: 319px) {
  .main-footer {
    display: none;
  }
}
@media (min-width: 320px) {
  .main-footer {
    height: 60px;
  }
}
@media (min-width: 1100px) {
  .main-footer {
    height: 80px;
  }
}
@media (min-width: 1600px) {
  .main-footer {
    height: 80px;
  }
}
@media (min-width: 0) and (max-width: 560px) {
  .main-footer .hidden-xs {
    display: none;
  }
}

.main-footer:after {
  content: " ";
  position: absolute;
  top: 0px;
  right: 78px;
  left: 78px;
  border-bottom: 2px solid #f5f4f4;
  z-index: 3;
}
@media (min-width: 320px) and (max-width: 1099px) {
  .main-footer:after {
    right: 0;
    left: 0;
  }
}

.footer-container {
  padding: 20px 88px;
}
@media (min-width: 320px) {
  .footer-container {
    padding: 12px 12px;
  }
}
@media (min-width: 1100px) {
  .footer-container {
    padding: 20px 88px;
  }
}

.footer-copyright {
  font-size: 16px;
  display: inline-block;
  position: absolute;
  padding: 4px 8px;
}
@media (min-width: 320px) and (max-width: 1100px) {
  .footer-copyright {
    font-size: 12px;
  }
}

.footer-menu {
  font-size: 16px;
  display: inline-block;
  float: right;
  padding: 4px 8px;
}
@media (min-width: 320px) and (max-width: 1100px) {
  .footer-menu {
    font-size: 12px;
  }
}
.footer-menu a {
  text-decoration: none;
  color: #424242;
}
.footer-menu .item {
  padding: 0 12px;
}
.footer-menu .item:hover {
  color: #2ba7df;
}
.footer-menu .item:active {
  color: #424242;
}

.main-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.error-container {
  padding: 20px 20px;
  width: 800px;
  height: 400px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  overflow: visible;
}

@media (min-width: 0) and (max-width: 319px) {
  .error {
    display: none;
  }
}
@media (min-width: 320px) {
  .error {
    width: 800px;
  }
}
@media (min-width: 1100px) {
  .error {
    width: 800px;
  }
}
@media (min-width: 1600px) {
  .error {
    width: 800px;
  }
}

.error-info {
  color: #B9D5E3;
}

.error-link {
  background-color: #2ba7df;
  color: #ffffff;
  text-decoration: none;
  padding: 2px 40px;
  border-radius: 20px;
  font-weight: 700;
}
.error-link:hover {
  background-color: #2DB1EC;
}
.error-link:active {
  background-color: #df2b6d;
}

.art-img {
  width: 1342px;
  padding-top: 76px;
}
