@import url("https://fonts.googleapis.com/css?family=Cairo:400,700&subset=arabic,latin-ext");
html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Cairo", sans-serif;
  color: #424242;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #2ba7df;
}

::-webkit-scrollbar-thumb:hover {
  background: #424242;
}

::-moz-selection {
  /* Code for Firefox */
  color: #2ba7df;
  background: #fcfcfc;
}

::selection {
  color: #2ba7df;
  background: #fcfcfc;
}

header {
  background-color: #fcfcfc;
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  height: 120px;
  z-index: 3;
}

header:after {
  content: " ";
  position: absolute;
  bottom: 0px;
  right: 78px;
  left: 78px;
  border-bottom: 2px solid #f5f4f4;
  z-index: 3;
}

footer {
  background-color: #fcfcfc;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 80px;
  z-index: 3;
}

footer:after {
  content: " ";
  position: absolute;
  top: 0px;
  right: 78px;
  left: 78px;
  border-bottom: 2px solid #f5f4f4;
  z-index: 3;
}

nav {
  background-color: #fcfcfc;
  position: fixed;
  right: 0;
  top: 120px;
  bottom: 80px;
  padding: 120px 0;
  width: 80px;
  text-align: center;
  z-index: 2;
}

nav:after {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 78px;
  left: 0;
  background-color: #f5f4f4;
  z-index: 3;
}

aside {
  background-color: #fcfcfc;
  position: fixed;
  left: 0;
  top: 120px;
  bottom: 80px;
  padding: 120px 0;
  width: 80px;
  text-align: center;
  z-index: 2;
}

aside:after {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 78px;
  background-color: #f5f4f4;
  z-index: 3;
}

article {
  background-color: #ffffff;
  height: 2000px;
  text-align: center;
  padding: 120px 80px 80px;
  z-index: 1;
}
article p {
  padding: 0 40px;
}

.website-logo {
  width: 54px;
}

.website-title {
  font-size: 22px;
  display: inline-block;
  position: absolute;
  padding: 4px 8px;
}

.header-navigation {
  font-size: 20px;
  display: inline-block;
  float: right;
  padding: 4px 8px;
}
.header-navigation a {
  text-decoration: none;
  color: #424242;
}
.header-navigation .item {
  padding: 0 12px;
}
.header-navigation .item:hover {
  color: #2ba7df;
}
.header-navigation .item:active {
  color: #424242;
}

.primary {
  color: #2ba7df;
}

.secondary {
  color: #df2b6d;
}

.default {
  color: #424242;
}

.default-lighter {
  color: #8f8c8c;
}

.bold {
  font-weight: 700;
}

.website-header {
  padding: 38px 84px;
}

.website-footer {
  padding: 20px 88px;
}

.website-copyright {
  font-size: 16px;
  display: inline-block;
  position: absolute;
  padding: 4px 8px;
}

.footer-navigation {
  font-size: 16px;
  display: inline-block;
  float: right;
  padding: 4px 8px;
}
.footer-navigation a {
  text-decoration: none;
  color: #424242;
}
.footer-navigation .item {
  padding: 0 12px;
}
.footer-navigation .item:hover {
  color: #2ba7df;
}
.footer-navigation .item:active {
  color: #424242;
}

.nav-navigation {
  font-size: 20px;
  display: inline-block;
  padding: 4px 8px;
}
.nav-navigation a {
  text-decoration: none;
  color: #424242;
}
.nav-navigation .item {
  padding: 0 12px;
  width: 60px;
  fill: #424242;
}
.nav-navigation .item:hover {
  fill: #2ba7df;
}
.nav-navigation .item:active {
  fill: #424242;
}

.aside-navigation {
  font-size: 20px;
  display: inline-block;
  padding: 4px 8px;
}
.aside-navigation a {
  text-decoration: none;
  color: #424242;
}
.aside-navigation .item {
  padding: 0 12px;
  width: 40px;
  fill: #424242;
}
.aside-navigation .item:hover {
  fill: #2ba7df;
}
.aside-navigation .item:active {
  fill: #424242;
}
