// article.scss
// ==============

.main-container{
  background-color: $content-background;
  height: 2000px;
  text-align: center;
  padding: 120px 80px 80px;
  z-index: 1;
  @include break(0,319px) {
    display: none;
  }
  @include break(320px) {
    padding: 48px 12px 12px;
    height: auto;
  }
  @include break(1100px) {
    padding: 28px 80px 28px;
    height: auto;
  }
  @include break(1600px) {
    padding: 120px 80px 120px;
    height: auto;
  }
  p{
    padding: 0 40px;
  }
}
