// footer.scss
// ==============

.main-footer{
  background-color: $main-background;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 80px;
  z-index: 3;
  @include break(0,319px) {
    display: none;
  }
  @include break(320px) {
    height: 60px;
  }
  @include break(1100px) {
    height: 80px;
  }
  @include break(1600px) {
    height: 80px;
  }
  .hidden-xs{
    @include break(0,560px) {
      display: none;
    }
  }
}

.main-footer:after {
    content: " ";
	position: absolute;
	top: 0px;
	right: 78px;
	left: 78px;
	border-bottom: 2px solid $main-border;
	z-index: 3;
  @include break(320px,1099px) {
    right: 0;
    left: 0;
  }
}

.footer-container{
  padding: 20px 88px;
  @include break(320px) {
    padding: 12px 12px;
  }
  @include break(1100px) {
    padding: 20px 88px;
  }
}

.footer-copyright{
  font-size: 16px;
  display: inline-block;
  position: absolute;
  padding: 4px 8px;
  @include break(320px,1100px) {
    font-size: 12px;
  }
}

.footer-menu{
  font-size: 16px;
  display: inline-block;
  float: right;
  padding: 4px 8px;
  @include break(320px,1100px) {
    font-size: 12px;
  }

  a {
    text-decoration: none;
    color: $default;
    // &:active{
    //   color: $primary;
    //   border-bottom: 3px solid $primary;
    // }
  }

  .item{
    padding: 0 12px;
    &:hover{
      color: $primary;
      // border-bottom: 3px solid $primary;
    }
    &:active{
      color: $default;
      // border-bottom: 3px solid $primary;
    }
  }

}
